@import url('https://fonts.googleapis.com/css?family=Poppins');

.root {
    font-family: Kollektif, system-ui, Avenir, Helvetica, Arial, sans-serif;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    --up-dark-blue: #003f55;
    --up-blue: #007ca6;
    --up-yellow: #fdbb37;
    --up-light-blue: #8acbdb;
    --up-navy: #00212c;
    --up-gray: #e7e8ed;
    --up-white: #fbfbfc;
    font-synthesis: none;
    text-decoration: none;
    font-family: Poppins;
}

.navbar-desktop ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    background-color: #E7E8EE;
    font-size: 16px;
    font-family: Poppins;
    font-weight: bold;
    float: right;
    color: #003F55;
    width: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.navbar-desktop a {
    color: #003F55;
    text-decoration: none;
    padding: 15px;
    text-align: center;
}

.navbar-desktop li {
    float: left;
    text-align: center;
    display: flex;
}

.donate {
    color: #FDBB37;
}

.workers {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login hover:a {
    text-decoration: underline;
    background-color: none;
}

.title-student {
    color: #fbfbfc;
    font-size: 42px;
    text-align: left;
    font-family: Poppins;
    position: relative;
    top: 150px;
    right: -150px;
    font-family: Kollektif-Bold, sans-serif;
}

a:visited {
    color: #003F55;
}

.if-mentee {
    font-size: 15px;
    font-family: Poppins;
}

@media (min-width: 1024px) {
    .mobile-container {
        display: none;
    }
    
    .mobile-navbar-button {
        display: none;
    }
    
    .navbar-desktop a:hover li {
        background-color: #003F55;
        color: #E7E8EE;
    }
    
    .navbar-desktop li {
        text-align: center;
    }
    
    .mobile-navbar-open {
        display: none;
    }
    
    .if-mentee {
        color: white;
        font-size: 16px;
        font-family: Poppins;
        right: -150px;
        top: 210px;
        position: relative;
        margin-top: 20px;
    }
    
    .if-mentee a {
        color: #00212c;
        padding: 0;
        text-decoration: underline;
    }
    
    body {
        background: linear-gradient(-40deg, rgba(138, 203, 219, 0), rgba(0, 124, 166, 0.8), rgb(0, 63, 85));
        background-repeat: no-repeat;
        min-height: 100vh;
    }

    .container-landing{
      min-height: 100vh;
    right: 100px;
    padding: 20px;
    }

    .navbar-logo {
        position: static;
        width: 155.9px;
        height: 10vh 71.5px;
        align-items: center;
        padding: 0px 27.2px 0px 27.2px;
        padding-top: 10px;
        padding-bottom: 4px;
    }
    
    .student:hover {
        background-color: #E7E8EE;
        color: #003F55;
    }
    
    .student {
        position: relative;
        top: 200px;
        left: 150px;
        color: #007CA6;
        font-size: 17px;
        font-family: Poppins;
        border-radius: 10px;
        font-weight: bold;
        border: none;
        background: white;
        padding: 10px 20px;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        cursor: pointer;
        transition: all 0.3s ease;
        text-align: center;
        width: 329px;
        height: 60px;
        flex-shrink: 0;
    }
    
    .subtitle-student {
        color: #fbfbfc;
        font-size: 21px;
        text-align: left;
        font-weight: 300;
        font-family: Poppins;
        line-height: normal;
        position: relative;
        top: 200px;
        right: -150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
    }
    
    .login-student {
        color: white;
        font-size: 16px;
        font-family: Poppins;
        right: -150px;
        top: 200px;
        position: relative;
        margin-top: 20px;
    }
    
    .login-student a {
        color: #00212c;
        padding: 0;
        text-decoration: underline;
    }
}

@media (max-width: 1023px) {
    body {
        background-repeat: no-repeat;
        min-height: 100vh;
        overflow-y: auto;
        
    }
    
    .if-mentee {
        color: #003F55;
        padding: 10px 10px 10px 10px;
        position: flex;
        padding-left: 10px;
    }
    
    .student {
        position: static;
        top: 200px;
        left: 150px;
        color: black;
        font-size: 17px;
        font-family: Poppins;
        border-radius: 10px;
        line-height: 60px;
        font-weight: bold;
        border: none;
        background: #fdbb37;
        padding: 10px 10px 20px 20px;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        cursor: pointer;
        transition: all 0.3s ease;
        text-align: center;
        width: 329px;
        place-items: center;
        height: 60px;
        flex-shrink: 0;
        top: 100px;
        padding: 0 2rem 32px;
    }

    .student:hover{
      background-color: #e0a631;
    }
    
    .title-student {
        font-family: Kollektif-Bold, sans-serif;
        font-size: 3rem;
        font-weight: 700;
        position: static;
        padding: 0px 32px;
        text-align: center;
    }
    
    .subtitle-student {
        color: #007CA6;
        font-size: 21px;
        font-weight: 300;
        font-family: Poppins;
        line-height: 2.25rem;
        position: static;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        text-align: left;
        padding: 0px 32px;
    }
    
    .navbar-logo {
        display: none;
        background-color: #003F55;
    }
    
    .mobile-container {
        display: grid;
        grid-template-columns: 4fr 3fr;
        list-style-type: none;
        background-color: #003F55;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        line-height: 2;
        height: 100%;
        width: 100%;
        padding-top: 10px;
        z-index: 1000;
        overflow-y: auto;
    }

    .white-to-blue{
      background: linear-gradient(to bottom, #fbfbfc, #8acbdb);
      height: 100%;
    }

    .background-header {
      background: linear-gradient(-40deg, rgba(138, 203, 219, 0), rgba(0, 124, 166, 0.8), rgb(0, 63, 85));;
    }
    
    .login-student {
        color: #007CA6;
        font-size: 16px;
        font-family: Poppins;
        position: static;
        margin-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .navbar-desktop a:hover {
        background-color: none;
        color: #E7E8EE;
    }
    
    .mobile-navbar-open {
        position: fixed;
        top: 0;
        right: -250px;
        width: 250px;
        height: 745px;
        object-fit: cover;
        background-color: #003F55;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0);
        transition: right 0.3s ease-out;
        z-index: 1000;
        flex-direction: column;
        padding: 30px 20px 0;
        overflow: auto;
    }

    .mobile-navbar-open ul{
            
      font-size: 16px;
      font-family: Poppins;
      padding: 0px 0px 0px 24px;
      background-color: #003F55;
      font-weight: bold;
      float: right;
      color: #ffffff;
      width: 100%;
      object-fit: cover;
      position: fixed;
      display: block;
      margin: 16px 0px;
      margin-block-start: 1em;
      margin-block-end: 1em;
      padding-inline-start: 40px;
      unicode-bidi: isolate;
      
list-style-type: disc;
text-decoration: none;
transition: all .5 sec ease;

      
  }
  .mobile-navbar-open li{
      
      display: block;
      padding-left: 1.5rem;
position: static;
font-size: 1.4rem;
margin: 1rem 0px;
  }
  .mobile-navbar-open li ul{
      padding-left: 15px;
  }
  .mobile-navbar-open a{
      color: #ffffff;
      text-decoration: none;
  }
  .mobile-navbar-open :hover{
      font-size: 23px;
  }
  .donate-mobile{
    background-color: #FDBB37;
    font-size: 1.15rem;
    font-family: Poppins;
    font-weight: bold;
    color: rgb(2, 33, 44);
    width: 20%;
    padding: .5rem;
    border-radius: .5rem;
    min-width: 10rem;
    cursor: pointer;
    position: static;
}
.donate-mobile:hover {
    background-color: #ce982d;
    font-size: 19px;
}
.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #00000080;
    z-index:999;
}
.mobile-navbar-open .socials{
    display: flex;
    justify-content: space-around;
    position: static;
}
.mobile-navbar-open .socials img{
    width: 52.5px;
    height: 52.5px;
    cursor: pointer;
    position: static;
    padding: 10px 10px 10px 10px;
}
.mobile-navbar-button{
    display: flex;
    justify-content: flex-end;
    width: 39px;
    height: 14px;
    padding-top: 15px;
}
    
    .mobile-navbar-open.open {
        right: 0;
    }
    
    .mobile-container .navbar-logo {
        width: 155.9px;
        height: 10vh 71.5px;
        align-items: center;
        padding: 0px 0px 0px 27.2px;
    }
    
    .mobile-container .navbar-logo a {
        width: 100%;
        height: 70px;
    }
    
    .mobile-navbar-open ul {
        font-size: 16px;
        font-family: Poppins;
        padding: 0px 0px 0px 24px;
        background-color: #003F55;
        font-weight: bold;
        float: right
    }
  }